body{
    padding: 1% 5%;
}
.navbar{
    border: 2px solid orange;
}
.header{
 
    background-color: orange;
}
.logo{
    height: 150px;width: 150px;
}
.outer-container{
    border: 2px solid orange;
    border-radius: 5px;
    padding: 0px;
}

.footer{
    background-color: rgb(63, 63, 63);
    margin:0px;
    padding: 1%;
}
